VITE_TOCHKA_API_URL=https://enter.tochka.com/uapi/sbp/payments
VITE_TOCHKA_JWT_TOKEN=PUT_YOUR_TOCHKA_BEARER_TOKEN_HERE
VITE_TOCHKA_MERCHANT_ID=PUT_YOUR_MERCHANT_ID_HERE
VITE_TOCHKA_ACCOUNT_ID=PUT_ACCOUNT_NUMBER_AND_BIC_LIKE_40802810520000897621/044525104
VITE_TOCHKA_QRC_TYPE=02
VITE_TOCHKA_GET_QR_URL_BASE=https://enter.tochka.com/uapi/sbp/v1.0/qr-code
